.component__comment__item {
  border-top: 1px solid #dcdede;
  margin-top: .5em;

  .comment__wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .user_avatar__wrap {
      display: inline-block;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      border: 1px solid #ccc;
      vertical-align: middle;
      margin-right: 10px;

      .image {
        width: 2em;
        border-radius: 50%;
      }
    }

    .text__wrap {
      display: inline-block;
      width: 100%;
    }
  }
}
