.component__event__detail {
  box-sizing: border-box;
  width: 1200px;
  margin: 1em auto;
  position: relative;

  .event__detail__wrap {
    width: 45%;
    border: 1px solid #dcdede;
    display: inline-block;

    .event_details {
      margin: 0;
      width: 100%;

      .feed_img {
        width: 100%;
      }

      .item__main {
        padding: 10px;
      }

      .item__metadata {
        margin-bottom: 3px;
        font-size: 12px;
        display: inline-block;
        color: #565656;

        .timestamp, .location {
          display: inline-block;
        }

        .timestamp {
          margin-right: 3px;
        }

        .location {
          margin-left: 3px;
        }
      }
    }
  }

  .map__view {
    display: inline-block;
    width: 55%;
    vertical-align: top;
    height: 40em;
    margin: 1em 0;
    border: 1px solid #dcdede;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
