.component__eventcard {
	display: inline-block;
	margin-right: 15px;
  text-align: left;

  .event__wrap {
    display: inline-block;
    position: relative;
    padding: 0;
    border-radius: 0;
    margin: 0;
    cursor: pointer;
    color: #303030;
  }

  .event_media_object {
    position: relative;

		.event__img__wrap {
			height: 360px;
			width: 255px;
			overflow: hidden;

			.event__img {
	      height: 100%;
				object-fit: cover;
	    }
		}
  }
	.description__wrap {
		padding: 10px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 4em;
		background-color: rgba(0,0,0,0.5);
		color: #fff;
		opacity: 0;
		transition: opacity 0.3s ease-in;
	}

	.event__wrap.hover__active .description__wrap{
		transition: opacity 0.3s ease-in;
		opacity: 1
	}
	
  .item__main {
    padding-bottom: 0;
    margin: 0;

    .item__metadata {
			font-family: 'opens_sanslight', 'sans-serif';
      margin-bottom: 3px;
      font-size: 11px;
      display: inline-block;
      color: #565656;

      .timestamp {
        margin-right: 3px;
      }
    }

    .item__content {
      padding-bottom: 3px;
      border-bottom: 1px solid #efefef;
    }
  }

  .item__interactions {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 3px 5px;

    .nested {
      vertical-align: middle;
      height: 24px;
      display: inline-block;
    }

    .nested.user {
      text-align: left;
      .image {
        width: 24px;
        border-radius: 50%;
        border: 1px solid #ccc;
      }
    }
  }

}
