.component__event__organizer {
  font-family: 'open-sans-light', 'sans-serif';
  color: #444;

  .organizer__details_wrap {
    display: flex;
    justify-content: space-between;
  }

  .left__section {
    width: 18%;
    margin-top: 10px;
    
    .organizer__avatar__wrap {
      border-radius: 50%;
      border: 1px solid #dcdede;
      overflow: hidden;
      width: 66px;

      .avatar {
        width: 66px;
      }
    }
  }

  .right__section {
    width: 100%;
    margin-top: 10px;

    .orgainizer__main__details {
      display: inline-flex;
      justify-content: space-between;
      font-size: 1.2em;
      width: 100%;

      .user__data .username {
        display: block;
      }
    }
  }

  .organizer__meta__data {
    border-top: 1px solid #dcdede;
    margin-top: 5px;
    padding-top: 5px;
  }
}
