.component__event__detail__body {
  box-sizing: border-box;
  width: 100%;
  position: relative;

  .event__detail__wrap {
    display: flex;
    justify-content: space-between;
    min-height: 850px;

    .eventdetail__sidebar__wrap {
      display: block;
      float: left;
      width: 285px;
      background-color: #f6f6f6;
      bottom: 0;

      &.fixed {
        position: fixed;
        top: 4em;
        left: 0;
        bottom: 0;
      }
    }

    .event__detail__main {
      display: inline-block;
      border-left: 1px solid #dadada;
      width: 665px;
      background-color: #fff;
      position: relative;

      &.fixed {
        padding-top: 11em;
        margin-left: 285px;
      }

      .details__header__wrap {
        padding: 1em 1em 0 1em;
        border-bottom: 1px solid #dcdede;
        background: #fff;

        &.fixed {
          position: fixed;
          top: 4em;
          width: 46.1%;
        }

        .details__header {
          display: flex;
          justify-content: space-between;
          margin-bottom: .5em;

          .event__information__wrap {
            width: 70%;
          }

          .event__action__wrap {
            width: auto;
            padding-top: 55px;
          }

          .event__date__wrap {
            margin-bottom: 1.5em;
            font-size: 1.3em;
          }
          .event__name {
            font-size: 1.6em;
            margin-top: 1.3em;
          }

          .event__location_text {
            vertical-align: middle;
          }

        }

        .details__header_nav {
          height: 2em;
          text-align: right;

          .nav__list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: inline-block;

            .item {
              display: inline-block;
              margin-right: 1em;
              font-size: .95em;
              height: 2em;
              color: #444;
              text-decoration: none;
              display: inline-block;
              background-color: #fff;
              border: none;
              padding: 0;
              cursor: pointer;

              &:hover {
                color: #395A5F;
              }

              &.active {
                border-bottom: 3px solid #395A5F;
              }

              &:last-of-type {
                margin-right: 0;
              }
            }
          }
        }
      }

      .details__body {
        padding: 2em 1em 0;
        overflow-y: auto;

        .section__wrap {
          margin-bottom: 3em;
        }

        .section__header {
          padding-bottom: 5px;
          border-bottom: 1px solid #dcdede;
          margin-bottom: 10px;
          font-weight: bold;
          font-size: 1.3em;
          font-family: 'open-sans-light', 'sans-serif';
        }
      }
    }
  }
}
