.header {
  border-top: 3px solid #ff5a5f;
  border-bottom: 1px solid #ccc;
  background-color: transparent;;
  z-index: 10;
  position: fixed;
  width: 100%;
}
.default__layout .header {
  .navbar {
    color: #ccc;
    background-color: #fff;
    position: relative;
  }
}

.navbar {
  padding: 8px 20px;
  color: #fff;

  &.navigation__container {
    display: flex;
    justify-content: space-between;
    .app__info {
      display: inline-block;
      * {
        vertical-align: middle;
      }
      width: 10em;

      .app__name {
        font-size: 20px;
        font-weight: bold;
        margin-left: 10px;
      }
    }

    .actions {
      display: inline-block;

      .header__profile {
        display: inline-block;
      }

      .tilte__action_link {
        margin-right: 1em;
        font-size: 16px;
        padding: 6px 19px;
      }
    }
  }

  &.category__container {
    height: 1.5em;
  }
}
