.header {
  border-top: 3px solid #ff5a5f;
  // background-color: transparent;;
  background-color: transparent;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 4.5em;
  padding: 7px 0;
  color: #fff;
  transition: background-color .2s ease-in;

  &.opaque {
    background-color: #fff;
    color: #444;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
}
.default__layout .header {
  .navbar {
    color: #ccc;
    background-color: #fff;
    position: relative;
  }
}

.pull__right {
  width: 10em;
}

.navbar {
  padding: 5px 20px;
  &.navigation__container {
    display: flex;
    justify-content: space-between;
    .app__info {
      display: inline-block;
      * {
        vertical-align: middle;
      }
      width: 10em;

      .app__name {
        font-size: 20px;
        margin-left: 10px;
      }
    }

    .actions {
      display: inline-block;

      .header__profile {
        display: inline-block;
      }

      .tilte__action_link {
        margin-right: 1em;
        font-size: 16px;
        padding: 6px 19px;
      }
    }
  }

  &.category__container {
    height: 1.5em;
  }
}
