.index__shell {
  position: relative;
  padding: 0;
  margin: 0;
}

.banner__section {
  position: relative;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
}

.btn-primary {
  background-color: #ff5a5f;
  border-color: #ff5a5f ;
  color: #fff;
}

.inline__block {
  display: inline-block;
}
