.component__usercard {
  font-family: 'open-sans-light', 'sans-serif';
  color: #444;

  .user__details_wrap {
    display: flex;
    justify-content: space-between;
  }

  .left__section {
    width: 18%;
    margin-top: 10px;

    .user__avatar__wrap {
      border-radius: 50%;
      border: 1px solid #dcdede;
      overflow: hidden;
      width: 66px;
      height: 66px;

      .avatar {
        width: 66px;
        height: 66px;
      }
    }
  }

  .right__section {
    width: 100%;
    margin-top: 10px;

    .component__location__marker {
      font-size: 14px;
    }

    .user__main__details {
      display: inline-flex;
      justify-content: space-between;
      font-size: 1.2em;
      width: 100%;

      .user__data .username {
        display: block;
      }
    }
  }

  .user__stats {
    border-top: 1px solid #e6e6e6;
    margin-top: 5px;
    padding-top: 5px;
  }
}
