.component__momentcard {
	display: inline-block;
  width: 25%;
	padding: 7px;
  text-align: left;

  .event__wrap {
    display: inline-block;
    position: relative;
    padding: 0;
    border: 1px solid #efefef;
    border-radius: 0;
    margin: 0;
    transition: all 0.3s ease-in;
    cursor: pointer;
    color: #303030;

    &.hover__active {
      border-color: #ff5a5f;
      box-shadow: 0px 0px 8px 2px #888888
    }
  }

  .event_media_object {
    position: relative;

    .feed_img {
      width: 100%;
    }
  }

  .item__main {
    padding: 5px;
    padding-bottom: 0;
    margin: 0;

    .item__metadata {
      margin-bottom: 3px;
      font-size: 12px;
      display: inline-block;
      color: #565656;

      .timestamp {
        margin-right: 3px;
      }
    }

    .item__content {
      padding-bottom: 3px;
      border-bottom: 1px solid #efefef;
    }
  }

  .item__interactions {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 3px 5px;

    .nested {
      vertical-align: middle;
      height: 24px;
      display: inline-block;
    }

    .nested.user {
      text-align: left;
      .image {
        width: 24px;
        border-radius: 50%;
        border: 1px solid #ccc;
      }
    }
  }

}
