.component__oauthresponse {
  width: 300px;
  margin: 13% auto;

  text-align: center;

  .loader__wrap {
    padding: 5px 15px
  }

  .information_wrap {
    text-align: center;
    font-size: 22px;
  }
}
