.component__eventdetail__header {
  width: 100%;
  height: 37em;
  background-color: #ccc;
  padding-top: 5em;
  position: relative;
  transition: height 0.3s ease-in;

  .control__wrap {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;

    .control {
      display: inline-block;
      margin-left: 15px;
      cursor: pointer;
    }

    .toggle__banner__control {

    }

    .share__control {

    }

    .event__action__wrap {
      vertical-align: middle;
    }
  }
}
